.main-slide {
  padding-top: 8vh;
}

.carousel .slider-wrapper {
  width: 40%;
}

.carousel .thumb {
  height: 50%;
}



img {
  margin-bottom: 13vh;
  max-height: 250px;
  max-width: 250px;
}

.carousel {
  text-align: center;
}

.carousel .control-next.control-arrow,
.carousel .control-next.control-arrow:hover {
  width: 30%;
}

.carousel .control-prev.control-arrow,
.carousel .control-prev.control-arrow:hover {
  width: 30%;
}

.project-text {
  text-align: center;
  color: var(--font-color);
}

.title-text {
  color: var(--font-color);
  background-color: hsla(192, 73%, 25%, 0.856);
  padding: 1rem 3rem;
  margin-bottom: 1vh;
  text-align: center;
  border-radius: 10px;
  transition-duration: 0.4s;
}
.title-text:hover {
  background-color: hsl(192, 73%, 32%);
  color: white;
}

